:root {
  --large_timer_delay: 4500ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#game_content {
  max-width: 900px;
  width: 100%;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: auto;
}

#game_content > :first-child {
  padding-top: 0;
}

#game_content > :last-child {
  padding-bottom: 0;
}

#game_content > * {
  animation: fade_in 250ms ease-in;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.removing {
  animation: fade_out 5s ease-in;
  animation-delay: 5s;
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content {
  padding: 0.5rem 0rem;
}

#input_field {
  display: flex;
  gap: 0.5rem;
}

#input_field input {
  flex-grow: 1;
  min-height: 2.25rem;
  outline: transparent;
  background-color: #f2f2f2;
  border: solid #a5a5a5 0.15rem;
  border-radius: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 0.5rem;
}

#input_radial {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

#input_radial input {
  outline: transparent;
  margin-right: 0.5rem;
}

#input_radial input:focus,
#input_field input:focus {
  border-color: #eb458b;
}

#input_radial input[type="radio"]:active,
#input_radial input[type="radio"]:checked,
#input_radial input[type="radio"]:checked:focus {
  accent-color: #eb458b;
}

#input_radial input[type="radio"]:hover {
  accent-color: #a5a5a5;
}

#input_radial label:has(input[type="radio"]:hover),
#input_radial label:has(input[type="radio"]:checked) {
  border-color: #a5a5a5;
  text-decoration: underline;
  text-decoration-color: #a5a5a5;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.25rem;
}

#input_radial label:has(input[type="radio"]:checked:focus) {
  text-decoration-color: #eb458b;
}

#input_radial button,
#input_field button {
  outline: transparent;
  background-color: #e9e9ed;
  border-color: #a5a5a5;
  border-style: solid;
  border-radius: 0;
  padding: 0.5rem;
}

#input_radial button:hover,
#input_radial button:focus,
#input_field button:hover,
#input_field button:focus {
  background-color: #d0d0d7;
  border-color: #eb458b;
}

::placeholder {
  color: rgb(85, 85, 85);
  font-style: italic;
  /* Set opacity for Firefox. */
  opacity: 1;
}

.pixelated {
  image-rendering: pixelated;
}

.single_timer_large {
  position: relative;
}

.single_timer_large > img {
  display: block;
}

.timer_filled {
  position: relative;
  width: 100%;
}

.timer_unfilled {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-delay: 200ms;
  animation-name: left_right_progress_bar;
  animation-duration: var(--large_timer_delay);
  animation-timing-function: steps(19, jump-none);
}

@keyframes left_right_progress_bar {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}
