:root {
  --timer_duration: 0ms;
  --sub_timer_duration: 0ms;
  --sub_timer_count: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#game_content {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: auto;
}

#game_content > :first-child {
  padding-top: 0;
}

#game_content > :last-child {
  padding-bottom: 0;
}

.content {
  padding: 0.5rem 0rem;
  animation: fade 250ms ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#input_field {
  display: flex;
  gap: 0.5rem;
}

#input_field input {
  flex-grow: 1;
  min-height: 2.25rem;
  outline: transparent;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 0.5rem;
}

.sub_timer_div,
#input_radial {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

#input_radial input {
  outline: transparent;
  margin-right: 0.5rem;
}

#input_radial label:has(input[type="radio"]:hover),
#input_radial label:has(input[type="radio"]:checked) {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.25rem;
}

#input_radial button,
#input_field button {
  outline: transparent;
  border-style: solid;
  border-radius: 0;
  padding: 0.5rem;
}

::placeholder {
  font-style: italic;
  /* Set opacity for Firefox. */
  opacity: 1;
}

.pixelated {
  image-rendering: pixelated;
}

.timer {
  position: relative;
  padding: 0;
  animation: fade 150ms ease-in-out;
}

.timer > img {
  display: block;
}

.timer_background {
  position: relative;
  width: 100%;
}

.timer_foreground {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-timing-function: linear;
  animation-duration: var(--timer_duration);
}

.dual_timer_spacing {
  height: 1rem;
}

.sub_timer_div {
  justify-content: right;
}

.sub_timer_div > .timer {
  width: 50%;
}

.timer_left_to_right {
  animation-name: left_right_progress_bar;
  animation-timing-function: steps(19, jump-none);
}

.sub_timer_left_to_right {
  animation-name: left_right_progress_bar;
  animation-timing-function: steps(10, jump-none);
  animation-iteration-count: var(--sub_timer_count);
  animation-duration: var(--sub_timer_duration);
}

@keyframes left_right_progress_bar {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

.timer_sides_to_center {
  animation-name: sides_to_center_progress_bar;
  animation-timing-function: steps(10, jump-none);
}

@keyframes sides_to_center_progress_bar {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 50% 0 50%);
  }
}

.skip_timer_text {
  padding-bottom: 0.75rem;
}

@media (max-width: 450px) {
  #game_content {
    padding: 1rem;
  }

  .content {
    padding: 0.25rem 0;
  }

  .dual_timer_spacing {
    height: 0.75rem;
  }

  .sub_timer_div {
    justify-content: center;
  }

  .sub_timer_div > .timer {
    width: 100%;
  }

  .timer_left_to_right {
    animation-timing-function: steps(10, jump-none);
  }

  .timer_background:not(.sub_timer, .skip_timer) {
    content: url("./game_assets/images/small_timer_filled.png");
  }

  .timer_foreground:not(.sub_timer, .skip_timer) {
    content: url("./game_assets/images/small_timer_unfilled.png");
  }

  .timer_sides_to_center {
    animation-timing-function: steps(5, jump-none);
  }

  .skip_timer.timer_background {
    content: url("./game_assets/images/small_skip_timer_unfilled.png");
  }

  .skip_timer.timer_foreground {
    content: url("./game_assets/images/small_skip_timer_filled.png");
  }
}
